<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='UTF-8'>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  <script src="lib/jquery/jquery-2.0.3.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
Jukebox
<body>
</body>
</html>