<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='UTF-8'>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="css/icon.png">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-resource.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-cookies.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-sanitize.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-animate.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-touch.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css?v=12412412414">
  <script src="js/lodash.js"></script>
  <script src="js/angular-lodash.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/playlist.js?v=124124"></script>
  <script src="js/searchSong.js"></script>
  <script src="js/addPlaylist.js"></script>
  <script src="js/spotify.js"></script>
  <script src="js/playlist.js"></script>
  <script src="js/songList.js"></script>
</head>
<body ng-app="jukeboxApp" ng-cloak>
  
    <header>
    <div class = "row">

    <a href="#/playlists"><img src = "css/logo.png" class = "col-xs-12 col-sm-6 col-sm-offset-3 logo"/></a>
    </div>
  </header>


  <script type="text/ng-template" id="addPlaylist.html">
    <div ng-controller="AddPlaylistCtrl" class="text-center">

      <div class="search_container row"> 
        <div class = "col-xs-10">     
        <form ng-submit="addPlaylist()">
            <input  type="text"  ng-model="playlist.name" placeholder = "Create a playlist" />
            <button type="submit" ng-hide="true">Add</button>
        </form>
        </div>
        <div class="col-xs-1 trackAdd" ng-click="addPlaylist()">
          +
        </div>
      </div>

      <div class="row" ng-repeat="playlist in playlists.playlists">
        <a href="#/playlist/{{ playlist.id }}">{{ playlist.name }}</a>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="playlist.html">
   
    <div ng-controller="SearchSongCtrl">
      <div class="search_container">
        <form ng-submit="searchSong()">
          <input ng-model="searchQuery" placeholder = "Search for songs" />
          <button type="submit" ng-hide="true">Search</button>
        </form>
      </div>
      <div class="searchList" ng-repeat="track in searchResults.tracks.items" ng-show="!hasAdded">
      <div class="track row searchRow">
        <div class="col-xs-3">
          <img ng-if="track" src="{{ track.album.images[0].url }}" style="width:100%" />
        </div>
        <div class="col-xs-6">
          <h2 class = "track_title">{{ track.name }}</h1>
          <h3 class = "artist">{{ track.artists[0].name }}</h3>
        </div>
        <div class="col-xs-3 trackAdd" ng-click="addSong(track.id)">
          +
        </div>
      </div>
    </div>
   <div ng-controller = "PlaylistCtrl">
      <div class = "songList_container container-fluid">
      <div class="text-right currentPlaylist">Current playlist: <strong>{{ name }}</strong></div>
        <div class = "trackList" ng-repeat="track in tracks | orderBy: 'voteCount' : true" ng-swipe-left="downvote(track)" ng-swipe-right="upvote(track)">

              <div class = "track row" id="track-{{track.id}}"> 
	
                <div class = " col-xs-2 col-md-2"> 
                   <img src="{{ track.album.images[0].url }}" alt="Album image" height="128" width="128" class="album_image  col-xs-12 col-md-12"></div>
                
                <div class = "track_info col-xs-8 col-md-8">
                  <h2 class= "track_title"> {{ track.name }} </h2>
                  <h3 class= "artist"> {{ track.artists[0].name }}  </h3>
                </div>
                
                <div class = "col-xs-2 col-md-2 rating"> 
                  {{ determineRating(track) }}
                  <p  class = "{{ratingClass}}"> 
                  {{ track.voteCount }}</p>
                </div>
              </div>
            </div>
       </div>
    </div>
  </script>

  <div class="container" ng-view>
  </div>
  
</body>
</html>